.Click-light {
    background-color:lightblue;
}
.Click-dark {
    background-color:darkslateblue;
}
.Clicker-dark button {
    background-color: aliceblue;
}

.Clicker-light button {
    background-color: dark slateblue;
}